---
import Layout from "../layouts/Layout.astro"
import { API_URL } from "astro:env/client"

const response = await fetch(`${API_URL}/sites`)
const data = await response.json()
---

<Layout title="Domains">
  <h1>Domains</h1>
  <p>Search through list of all blacklisted domains.</p>
  <input
    id="search-input"
    class="form-control"
    type="text"
    placeholder="Search domain..."
  />
  <table class="table table-hover mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Domain</th>
        <th scope="col">Reason</th>
        <th scope="col">Path</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      {
        data.map(
          (
            item: {
              domain: string
              reason: string
              notes: string
              path: string
            },
            i: number,
          ) => (
            <tr>
              <td>{i + 1}</td>
              <td>{item.domain}</td>
              <td>{item.reason}</td>
              <td>{item.path}</td>
              <td>{item.notes}</td>
            </tr>
          ),
        )
      }
    </tbody>
  </table>
  <script lang="js">
    const searchInput = document.getElementById("search-input")
    const tableRows = document.querySelectorAll("tbody tr")

    document.addEventListener("DOMContentLoaded", () => {
      searchInput.addEventListener("input", (e) => {
        const searchQuery = e.target.value.toLowerCase()

        tableRows.forEach((row) => {
          row
            .querySelectorAll("td")[1]
            .textContent.toLowerCase()
            .includes(searchQuery)
            ? (row.style.display = "")
            : (row.style.display = "none")
        })
      })
    })
  </script>
</Layout>
